body {
    text-align: center;
    background-color: lightcyan;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
}

header {
    background-color: #2C6975;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 30px;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rebeccapurple;
    gap: 30px;
}

.vs {
    font-size: 40px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 40px 0;

}

.button:hover {
    transition: 0.5s;
    transform: scale(1.2);
}

button {
    width: 200px;
    height: 200px;
    font-size: 30px;
    border: none;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none; 
}

img {
    height: 150px;
}

h2 {
    font-size: 30px;
}

.computerChoice {

}

.results {
    border: solid;
    width: 70vw;
    height: 300px;
}
.scores {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.final {
    margin-top: 40px;
    font-size: 50px;
}

.wins, .loses, .tie, .tally {
    font-size: 30px;
}
