body {
    text-align: center;
}
.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}
button {
    width: 200px;
    height: 100px;
    background-color: lightgrey;
    font-size: 30px;
}

