body {
    text-align: center;
    background-color: #E0ECDE;
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto Mono', monospace;
    margin: 0;
}

header {
    background-color: #2C6975;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
}

h1 {
    font-size: 50px;
}

.display-round {
    font-weight: 500;
    font-size: 30px;
    height: 70px;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 3px 2px 2px#68B2A0;
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: -40px;
}

.image-display {
    height: 300px;
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.vs {
    font-size: 40px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin: 40px 0;

}

.button:hover {
    transition: 0.5s;
    transform: scale(1.2);
}

button {
    width: 200px;
    height: 200px;
    font-size: 30px;
    border: none;
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none; 
}

img {
    height: 150px;
}

h2 {
    font-size: 30px;
}

.weapons {
    margin-top: 50px;
}

.results {
    border: solid;
    width: 70vw;
    height: 300px;
}
.scores {
    display: flex;
    justify-content: center;
    gap: 100px;
}

.final {
    margin-top: 40px;
    font-size: 50px;
}

.wins {
    font-size: 30px;
}

.humanChoice, .computerChoice {
    height: 150px;
}

/*MODAL style*/
.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 2px solid black;
    border-radius: 10px;
    z-index: 10;
    background-color: #2C6975;
    color: white;
    /*doesn't get bigger than 80% of screen and max 300px*/
    width: 250px;
    height: 190px;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.final {
    font-size: 35px;
    margin: 0 auto;
    padding-left: 30px;
    font-weight: 700;
}

.reset {
    height: 50px;
    width: 160px;
    border-radius: 20px;
    font-size: 25px;
    background-color: #E0ECDE;
    margin: 0 auto;
    font-weight: 500;
}

.modal-header {
    display: flex;
    justify-content: space-between;
    margin-top: 0;
}

.close-button {
    height: 25px;
    width: 25px;
    margin-top: -25px;
    margin-right: 5px;
}